
.header {

    margin-left: -490px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;


}

.btn {
    text-align: center
}

.baner {
    margin-left: 148px;
    margin-top: 75px;
    width: 40%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    font-family: Mulish;

}

.opis {
    width: 40%;
    margin-left: 148px;
    font-size: 14px;
    font-family: Mulish;
    margin-top: 36px;

}

.img_1 {
    position: fixed;
}

.img_2 {
    right: -96px;
    top: 87px;
    position: absolute;
    transform: scale(0.7, 0.7);
}

.img_3 {
    position: absolute;
    transform: scale(0.7, 0.7);
    top: 507px;
    left: 146px;
}

.img_4 {
    position: absolute;
    transform: scale(0.7, 0.7);
    margin-top: 72px;
    margin-left: -70px;
}

ul {
    float: right;
    width: 75%;
    padding: -25px;
    margin: -37px;
    list-style: none;
}

li a {
    font-family: Mulish;
    display: block;
    float: right;
    text-align: center;
    font-size: 13px;
    width: 59px;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    margin: 5px 1px 2px 0px;
    border-radius: 3px;

}

li a:hover {
    border: 1px solid blue;
}

.footer {
    font-family: Mulish;
}

.oferta {
    font-family: Mulish;
    font-weight: bold;
    margin-top: 204px;
    margin-left: 594px;
    font-size: 25px;
}

.Ipad {
    transform: scale(0.7, 0.7);
    margin-top: 93px;
    margin-left: -464px;
}

.opis_wersji {
    margin-top: -311px;
    font-weight: lighter;
    width: 507px;
    margin-left: -125px;
}

.version_1 {
    text-align: center;
    position: absolute;
    margin-top: 69px;
    margin-left: -166px;
    font-size: 16px;
}

.version_2 {
    text-align: center;
    position: absolute;
    margin-top: 69px;
    margin-left: 128px;
    font-size: 16px;
}

.avatar {
    transform: scale(0.7, 0.7);
    margin-top: 221px;
    margin-left: 27px;
}