* {
    overflow-x: hidden;
    padding: 0 !important;
    margin: 0 !important;
}

.v1_1933 {
    width: 100%;
    height: 3770px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.v1_1934 {
    width: 100%;
    height: 663px;
    background: rgba(68, 31, 31, 1);
    opacity: 1;
    position: absolute;
    top: 1154px;
    left: 0px;
    overflow: hidden;
}

.v1_1935 {
    width: 100%;
    height: 663px;
    background: rgba(229, 229, 229, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v1_1936 {
    width: 772px;
    height: 330px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 238px;
    left: 574px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.v1_1937 {
    width: 487px;
    color: rgba(88, 88, 88, 1);
    position: absolute;
    top: 271px;
    left: 806px;
    font-size: 15px;
    opacity: 1;
    text-align: justified;
}

.v1_1938 {
    width: 349px;
    color: rgba(60, 60, 60, 1);
    position: absolute;
    top: 106px;
    left: 783px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 34px;
    opacity: 1;
    text-align: center;
}

.v1_1939 {
    width: 666px;
    height: 0px;
    background: url("../images/v1_1939.png");
    opacity: 1;
    position: absolute;
    top: 221px;
    left: 636px;
    border: 2px solid rgba(0, 0, 0, 0.07000000029802322);
}

.name {
    color: #fff;
}

.v1_1941 {
    width: 97px;
    color: rgba(171, 0, 57, 1);
    position: absolute;
    top: 188px;
    left: 690px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}

.v1_1942 {
    width: 95px;
    color: rgba(0, 0, 0, 0.5400000214576721);
    position: absolute;
    top: 188px;
    left: 914px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}

.v1_1943 {
    width: 123px;
    color: rgba(0, 0, 0, 0.5400000214576721);
    position: absolute;
    top: 188px;
    left: 1136px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}

.v1_1944 {
    width: 158px;
    height: 188px;
    background: url("../images/v1_1944.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 271px;
    left: 630px;
    overflow: hidden;
}

.v1_1945 {
    width: 100%;
    height: 663px;
    background: linear-gradient(rgba(154, 154, 154, 1), rgba(0, 0, 0, 1));
    opacity: 1;
    position: absolute;
    top: 1154px;
    left: 0px;
    overflow: hidden;
}

.v1_1946 {
    width: 100%;
    height: 663px;
    background: rgba(229, 229, 229, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v1_1947 {
    width: 772px;
    height: 330px;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(254, 245, 245, 1));
    opacity: 1;
    position: absolute;
    top: 238px;
    left: 574px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.v1_1948 {
    width: 487px;
    color: rgba(178, 178, 178, 1);
    position: absolute;
    top: 271px;
    left: 806px;
    font-family: Strait;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: justified;
}

.v1_1949 {
    width: 349px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 106px;
    left: 783px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 34px;
    opacity: 1;
    text-align: center;
}

.v1_1950 {
    width: 666px;
    height: 0px;
    background: url("../images/v1_1950.png");
    opacity: 1;
    position: absolute;
    top: 221px;
    left: 636px;
    border: 2px solid rgba(0, 0, 0, 1);
}

.name {
    color: #fff;
}

.v1_1952 {
    width: 120px;
    color: rgba(255, 0, 0, 1);
    position: absolute;
    top: 178px;
    left: 746px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 17px;
    opacity: 1;
    text-align: center;
}

.v1_1953 {
    width: 132px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 178px;
    left: 1066px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 17px;
    opacity: 1;
    text-align: center;
}

.v2_103 {
    width: 110px;
    height: 213px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 297px;
    left: 624px;
}

.v1_2010 {
    width: 100%;
    height: 1154px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(154, 154, 154, 1));
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1px;
    overflow: hidden;
}

.v1_2014 {
    width: 284px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 792px;
    left: 818px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 33px;
    opacity: 1;
    text-align: center;
}

.v1_2019 {
    width: 804px;
    color: rgba(178, 178, 178, 1);
    position: absolute;
    top: 843px;
    left: 558px;
    font-family: Strong;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: justified;
}

.v1_2024 {
    width: 225px;
    height: 40px;
    background: linear-gradient(rgba(255, 0, 0, 1), rgba(0, 0, 0, 1));
    opacity: 1;
    position: absolute;
    top: 1040px;
    left: 848px;
    border: 2px solid rgba(244, 244, 244, 0);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.v1_2025 {
    width: 211px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 1040px;
    left: 855px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.v1_2057 {
    width: 100%;
    height: 134px;
    background: url("../images/v1_2057.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 19px;
    left: 0px;
    overflow: hidden;
}

.v1_2076 {
    width: 100%;
    height: 62px;
    background: rgba(255, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 72px;
    left: 543px;
    overflow: hidden;
}

.v1_2077 {
    width: 152px;
    height: 63px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    opacity: 1;
    position: absolute;
    top: 71px;
    left: 1409px;
    overflow: hidden;
}

.v1_2078 {
    width: 145px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 82px;
    left: 1413px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: center;
}

.v1_2079 {
    width: 83px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 97px;
    left: 1148px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.v1_2082 {
    width: 86px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 97px;
    left: 1031px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.v1_2083 {
    width: 290px;
    height: 62px;
    background: rgba(255, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 71px;
    left: 0px;
    overflow: hidden;
}

.v1_2084 {
    width: 93px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 94px;
    left: 1285px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.v2_33 {
    width: 445px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 247px;
    left: 1229px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: left;
}

.v2_34 {
    width: 659px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 362px;
    left: 1229px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v2_35 {
    width: 222px;
    height: 40px;
    background: linear-gradient(rgba(255, 0, 0, 1), rgba(235, 0, 0, 1));
    opacity: 1;
    position: absolute;
    top: 513px;
    left: 1374px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.v2_36 {
    width: 189px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 513px;
    left: 1391px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: center;
}

.v170_0 {
    width: 7px;
    height: 7px;
    background: rgba(255, 255, 255, 0.49000000953674316);
    opacity: 1;
    position: absolute;
    top: 634px;
    left: 531px;
    overflow: hidden;
}

.v170_1 {
    width: 7px;
    height: 7px;
    background: rgba(255, 255, 255, 0.49000000953674316);
    opacity: 1;
    position: absolute;
    top: 634px;
    left: 572px;
    overflow: hidden;
}

.v170_2 {
    width: 10px;
    height: 9px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 633px;
    left: 487px;
}

.v1_2059 {
    width: 300px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 1px;
    left: 268px;
    font-family: Barlow Condensed;
    font-weight: Medium;
    font-size: 50px;
    opacity: 1;
    text-align: center;
}

.v1_2030 {
    width: 100%;
    height: 829px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(89, 70, 70, 0));
    opacity: 1;
    position: absolute;
    top: 1817px;
    left: 1px;
    overflow: hidden;
}

.v1_2031 {
    width: 446px;
    height: 37px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 301px;
    left: 737px;
    border: 1px solid rgba(0, 0, 0, 0.4000000059604645);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.v1_2032 {
    width: 100px;
    color: rgba(60, 60, 60, 1);
    position: absolute;
    top: 281px;
    left: 737px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 13px;
    opacity: 1;
    text-align: left;
}

.v1_2033 {
    width: 349px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 99px;
    left: 786px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 33px;
    opacity: 1;
    text-align: center;
}

.v1_2035 {
    width: 446px;
    height: 38px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 374px;
    left: 737px;
    border: 1px solid rgba(0, 0, 0, 0.4000000059604645);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.v1_2036 {
    width: 446px;
    height: 37px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 448px;
    left: 737px;
    border: 1px solid rgba(0, 0, 0, 0.4000000059604645);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.v1_2037 {
    width: 446px;
    height: 123px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 521px;
    left: 737px;
    border: 1px solid rgba(0, 0, 0, 0.4000000059604645);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.v1_2038 {
    width: 100px;
    color: rgba(60, 60, 60, 1);
    position: absolute;
    top: 355px;
    left: 737px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 13px;
    opacity: 1;
    text-align: left;
}

.v1_2039 {
    width: 100px;
    color: rgba(60, 60, 60, 1);
    position: absolute;
    top: 428px;
    left: 737px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 13px;
    opacity: 1;
    text-align: left;
}

.v1_2040 {
    width: 100px;
    color: rgba(60, 60, 60, 1);
    position: absolute;
    top: 502px;
    left: 737px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 13px;
    opacity: 1;
    text-align: left;
}

.v1_2041 {
    width: 446px;
    height: 38px;
    background: linear-gradient(rgba(171, 0, 57, 1), rgba(111, 21, 41, 1));
    opacity: 1;
    position: absolute;
    top: 672px;
    left: 737px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.v1_2044 {
    width: 446px;
    height: 37px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 301px;
    left: 737px;
    border: 1px solid rgba(0, 0, 0, 0.4000000059604645);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.v1_2046 {
    width: 446px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 212px;
    left: 737px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.v1_2047 {
    width: 446px;
    height: 38px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 374px;
    left: 737px;
    border: 1px solid rgba(0, 0, 0, 0.4000000059604645);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.v1_2048 {
    width: 446px;
    height: 37px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 448px;
    left: 737px;
    border: 1px solid rgba(0, 0, 0, 0.4000000059604645);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.v1_2049 {
    width: 446px;
    height: 123px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 521px;
    left: 737px;
    border: 1px solid rgba(0, 0, 0, 0.4000000059604645);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.v1_2050 {
    width: 100px;
    color: rgba(60, 60, 60, 1);
    position: absolute;
    top: 355px;
    left: 737px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 13px;
    opacity: 1;
    text-align: left;
}

.v2_100 {
    width: 446px;
    height: 38px;
    background: linear-gradient(rgba(255, 0, 0, 1), rgba(199, 13, 13, 1));
    opacity: 1;
    position: absolute;
    top: 672px;
    left: 737px;
}

.v1_2054 {
    width: 117px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 681px;
    left: 901px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: center;
}

.v1_2085 {
    width: 225px;
    height: 40px;
    background: linear-gradient(rgba(255, 0, 0, 1), rgba(247, 0, 0, 1));
    opacity: 1;
    position: absolute;
    top: 1650px;
    left: 845px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.v1_2086 {
    width: 216px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 1650px;
    left: 845px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: center;
}

.v1_2087 {
    width: 6px;
    height: 12px;
    background: url("../images/v1_2087.png");
    opacity: 1;
    position: absolute;
    top: 1664px;
    left: 1013px;
    border: 2px solid rgba(255, 255, 255, 1);
}

.v1_2089 {
    width: 20px;
    height: 12px;
    background: url("../images/v1_2089.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 78px;
    left: 1600px;
    overflow: hidden;
}

.v1_1956 {
    width: 100%;
    height: 1124px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(114, 6, 6, 1));
    opacity: 1;
    position: absolute;
    top: 2646px;
    left: 1px;
    overflow: hidden;
}

.v1_1957 {
    width: 577px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 101px;
    left: 672px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 33px;
    opacity: 1;
    text-align: center;
}

.v1_1958 {
    width: 216px;
    color: rgba(255, 1, 1, 1);
    position: absolute;
    top: 137px;
    left: 844px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 14px;
    opacity: 1;
    text-align: center;
}

.v1_1959 {
    width: 5px;
    height: 10px;
    background: url("../images/v1_1959.png");
    opacity: 1;
    position: absolute;
    top: 152px;
    left: 1016px;
    border: 1px solid rgba(171, 0, 57, 1);
}

.v1_1960 {
    width: 3px;
    height: 7px;
    background: url("../images/v1_1960.png");
    opacity: 1;
    position: absolute;
    top: 651px;
    left: 647px;
    border: 1px solid rgba(189, 36, 70, 1);
}

.v1_1961 {
    width: 489px;
    height: 462px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 240px;
    left: 463px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.v1_1962 {
    width: 382px;
    color: rgba(60, 60, 60, 1);
    position: absolute;
    top: 507px;
    left: 512px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 28px;
    opacity: 1;
    text-align: left;
}

.v1_1963 {
    width: 489px;
    height: 224px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 240px;
    left: 968px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.v1_1964 {
    width: 489px;
    height: 230px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 472px;
    left: 968px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.v1_1966 {
    width: 489px;
    height: 230px;
    background: url("../images/v1_1966.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 240px;
    left: 463px;
    overflow: hidden;
}

.v1_1967 {
    width: 79px;
    color: rgba(208, 208, 208, 1);
    position: absolute;
    top: 488px;
    left: 512px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 9px;
    opacity: 1;
    text-align: left;
}

.v1_1968 {
    width: 380px;
    color: rgba(60, 60, 60, 0.6700000166893005);
    position: absolute;
    top: 558px;
    left: 512px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v1_1969 {
    width: 161px;
    color: rgba(171, 0, 57, 1);
    position: absolute;
    top: 654px;
    left: 467px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 10px;
    opacity: 1;
    text-align: center;
}

.v1_1970 {
    width: 3px;
    height: 8px;
    background: url("../images/v1_1970.png");
    opacity: 1;
    position: absolute;
    top: 665px;
    left: 591px;
    border: 1px solid rgba(189, 36, 70, 1);
}

.v1_1971 {
    width: 380px;
    color: rgba(60, 60, 60, 1);
    position: absolute;
    top: 284px;
    left: 1018px;
    font-family: Montserrat;
    font-weight: SemiBold;
    opacity: 1;
    text-align: left;
}

.v1_1972 {
    width: 78px;
    color: rgba(208, 208, 208, 1);
    position: absolute;
    top: 263px;
    left: 1018px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 9px;
    opacity: 1;
    text-align: left;
}

.v1_1973 {
    width: 379px;
    color: rgba(60, 60, 60, 0.6700000166893005);
    position: absolute;
    top: 325px;
    left: 1018px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v1_1974 {
    width: 159px;
    color: rgba(171, 0, 57, 1);
    position: absolute;
    top: 411px;
    left: 977px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 10px;
    opacity: 1;
    text-align: center;
}

.v1_1975 {
    width: 5px;
    height: 8px;
    background: url("../images/v1_1975.png");
    opacity: 1;
    position: absolute;
    top: 421px;
    left: 1098px;
    border: 1px solid rgba(189, 36, 70, 1);
}

.v1_1976 {
    width: 381px;
    color: rgba(60, 60, 60, 1);
    position: absolute;
    top: 504px;
    left: 1008px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 28px;
    opacity: 1;
    text-align: left;
}

.v1_1977 {
    width: 79px;
    color: rgba(208, 208, 208, 1);
    position: absolute;
    top: 484px;
    left: 1008px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 9px;
    opacity: 1;
    text-align: left;
}

.v211_1 {
    width: 316px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 988px;
    left: 509px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}

.v211_2 {
    width: 316px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 989px;
    left: 819px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}

.v211_4 {
    width: 316px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 1011px;
    left: 509px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v211_6 {
    width: 316px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 1013px;
    left: 819px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v211_7 {
    width: 316px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 990px;
    left: 1087px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}

.v211_8 {
    width: 316px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 1013px;
    left: 1093px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v2_98 {
    width: 312px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 847px;
    left: 803px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.v211_17 {
    width: 25px;
    height: 21px;
    background: url("../images/v211_17.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.30000001192092896;
    position: absolute;
    top: 893px;
    left: 1594px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.v1_1978 {
    width: 380px;
    color: rgba(60, 60, 60, 0.6700000166893005);
    position: absolute;
    top: 556px;
    left: 1008px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v1_1979 {
    width: 160px;
    color: rgba(171, 0, 57, 1);
    position: absolute;
    top: 651px;
    left: 966px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 10px;
    opacity: 1;
    text-align: center;
}

.v1_1980 {
    width: 4px;
    height: 8px;
    background: url("../images/v1_1980.png");
    opacity: 1;
    position: absolute;
    top: 662px;
    left: 1087px;
    border: 1px solid rgba(189, 36, 70, 1);
}

.v1_2026 {
    width: 66px;
    height: 66px;
    background: url("../images/v1_2026.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 669px;
    left: 1710px;
    overflow: hidden;
}

.v1_2027 {
    width: 66px;
    height: 66px;
    background: rgba(255, 0, 0, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

.v1_2028 {
    width: 30px;
    height: 34px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 18px;
}
