.header {
    margin-right: 1182px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.btn {
    text-align: center
}

.baner {
    margin-left: 224px;
    margin-top: 235px;
    width: 49%;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: left;
    font-family: Montserrat;
    font-size: 40px;
}

.opis {
    width: 40%;
    margin-left: 223px;
    font-size: 24px;
    font-family: 'Montserrat';
    margin-top: 38px;
}

.img_1 {
    position: fixed;
}

.img_2 {
    left: 1045px;
    top: 306px;
    position: absolute;
}

.img_3 {
    position: absolute;
    top: 781px;
    left: 306px;
    z-index: -1;
}

.img_4 {
    margin-top: -75px;
    margin-left: -36px;
    z-index: -1;
    position: absolute;
}

.img_5 {
    margin-top: -164px;
    margin-left: 1125px;
    z-index: -1;
    position: absolute;
}

ul {
    width: 1462px;
    padding: -25px;
    margin: -7px;
    list-style: none;
    text-align: left;
}

li a {
    font-family: Mulish;
    display: block;
    float: right;
    text-align: center;
    font-size: 13px;
    width: 59px;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    margin: 5px 1px 2px 0px;
    border-radius: 3px;

}

li a:hover {
    border: 1px solid blue;
}

.footer {
    font-family: Mulish;
}

.oferta {
    font-family: Mulish;
    font-weight: bold;
    margin-top: 194px;
    margin-left: 897px;
    font-size: 36px;
}

.Ipad {
    margin-top: 275px;
    margin-left: -629px;
}

.opis_wersji {
    margin-top: -367px;
    font-weight: lighter;
    width: 742px;
    margin-left: -188px;
}

.version_1 {
    text-align: center;
    position: absolute;
    margin-top: 130px;
    margin-left: -253px;
    font-size: 24px;
}

.version_2 {
    text-align: center;
    position: absolute;
    margin-top: 131px;
    margin-left: 189px;
    font-size: 24px;
}

.avatar {
    margin-top: 287px;
    margin-left: 173px;
}

.o_mnie_header {
    font-family: Mulish;
    font-weight: bold;
    margin-top: -506px;
    margin-left: 1333px;
    font-size: 36px;
}

.arrow_2 {
    margin-top: 10px;
    margin-left: 1365px;
}

.arrow_3 {
    margin-left: 434px;
    margin-top: 32px;
}

.arrow_4 {
    margin-left: 925px;
    margin-top: 14px;
}

.o_mnie_opis {
    font-weight: lighter;
    font-family: Mulish;
    font-size: 24px;
    width: 540px;
    margin-left: 1126px;
    margin-top: 44px;
}

.pobierz {
    font-family: Mulish;
    font-weight: bold;
    margin-top: 274px;
    margin-left: 336px;
    font-size: 36px;
    width: 298px;
}

.pobierz_opis {
    font-family: Mulish;
    font-size: 24px;
    margin-left: 337px;
    margin-top: -209px;
}

.phones {
    margin-left: 1026px;
    margin-top: -352px;
}

.download {
    margin-top: 107px;
    margin-left: 337px;
}

.blog {
    font-family: Mulish;
    font-weight: bold;
    margin-top: 95px;
    margin-left: 914px;
    font-size: 36px;
}

.formularz {
    font-family: Mulish;
    font-weight: bold;
    margin-top: 274px;
    margin-left: 336px;
    font-size: 36px;
    width: 298px;
}

.container_left {
    float: left;
}

.container_1 {
    margin-top: 167px;
    margin-left: 99px;
}

.container_photo_1 {
    margin-left: -412px;
    margin-top: 183px;
    position: absolute;
}

.container_title {
    font-family: Mulish;
    font-size: 21px;
    font-weight: bold;
    margin-top: -348px;
    margin-left: 227px;
}

.container_description {
    font-size: 16px;
    font-family: Mulish;
    margin-left: 153px;
    margin-top: 51px;
}

.read {
    margin-top: 76px;
    margin-left: 164px;
    position: absolute;
}

.show {
    margin-top: 191px;
    margin-left: 825px;
}

.question {
    font-family: Mulish;
    font-size: 33px;
    font-weight: bold;
    margin-left: 840px;
    margin-top: 76px;
}

.question_h2 {
    font-family: Mulish;
    font-size: 15px;
    margin-left: 708px;
    margin-top: 44px;
}

.label_1 {
    font-size: 20px;
    font-family: 'Montserrat';
    margin-left: 691px;
    margin-top: 28px;
}

.label_input_1 {
    margin-left: 690px;
    margin-top: -9px;
    width: 503px;
    position: absolute;
}

.label_2 {
    font-size: 20px;
    font-family: 'Montserrat';
    margin-left: 691px;
    margin-top: 40px;
}

.label_input_2 {
    margin-left: 690px;
    margin-top: -9px;
    width: 503px;
    position: absolute;
}

.label_3 {
    font-size: 20px;
    font-family: 'Montserrat';
    margin-left: 691px;
    margin-top: 37px;
}

.label_input_3 {
    margin-left: 690px;
    margin-top: -9px;
    width: 503px;
    position: absolute;
}

.label_4 {
    font-size: 20px;
    font-family: 'Montserrat';
    margin-left: 691px;
    margin-top: 38px;
}

.label_input_4 {
    margin-left: 690px;
    margin-top: -17px;
    width: 503px;
    position: absolute;
    height: 100px;
}

.send {
    margin-top: 119px;
    margin-left: 686px;
}

.contact {
    font-family: Mulish;
    font-weight: bold;
    margin-top: 36px;
    margin-left: 868px;
    font-size: 36px;
}

.arrow_5 {
    margin-left: 873px;
    margin-top: 25px;
}

footer {
    width: 1900px;
    height: 432px;
    margin-top: 40px;
    background-color: #007094;
}
tr{
    border-spacing: 5em
}